
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your Order id is: <%= @itemsBought.id %></h1>
    <p>
      You have recently bought these items:
    </p>
    <ul>
      <% @itemsBought.line_items.each do |item| %>
      <li><%= item.product.name %></li>
      <% end %>
    </ul>

    <p>Thanks for shopping at Jungle and have a great day!</p>
  </body>
</html>